//$grey: #eeeeee;
//$white: #ffffff;
:root {
  --grey: #eeeeee;
  --white: #ffffff;
  --bluish-purple: #6b3de4;
  --dull-orange: #d9a34a;
  --dull-orange-two: #d8a252;
  --greenish: #41a674;
  --cerulean: #007ac2;
}
