<template>
  <div
    class="news-item"
    :style="cssStyles"
    :class="{
      'news-item_colorized': setBackgroundColor,
      'news-item_two-column': multiColumns,
    }"
  >
    <div v-if="photo" class="news-item__image-wrapper">
      <img :src="imageUrl" :alt="caption" class="news-item__image" />
      <div
        v-if="!multiColumns"
        class="news-item__tags news-item__tags_absolute"
      >
        <TheTag
          v-for="tag in tags"
          :key="tag.id"
          :name="tag.caption"
          :color="tag.color"
          class="news-item__tag"
        />
      </div>
    </div>
    <div class="news-item__content">
      <div v-if="!photo || multiColumns" class="news-item__tags">
        <TheTag
          v-for="tag in tags"
          :key="tag.id"
          :name="tag.caption"
          :color="tag.color"
          class="news-item__tag"
        />
      </div>
      <div class="news-item__caption">{{ caption }}</div>
      <div class="news-item__description">{{ description }}</div>
      <a v-if="showButton" :href="link" class="news-item__link">READ MORE</a>
    </div>
  </div>
</template>

<script>
import TheTag from './TheTag';

export default {
  name: 'NewsItem',
  props: {
    columns: {
      type: Number,
      default: 1,
    },
    rows: {
      type: Number,
      default: 1,
    },
    caption: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    setBackground: Boolean,
    tags: {
      type: Array,
      required: true,
    },
    photo: {
      type: String,
      default: '',
    },
    showButton: Boolean,
    link: {
      type: String,
      default: '',
    },
  },
  components: { TheTag },
  computed: {
    cssStyles() {
      return {
        gridColumn: `span ${this.columns}`,
        gridRow: `span ${this.rows}`,
        ['--item-bg-color']: this.setBackgroundColor
          ? this.firstTag.color
          : null,
      };
    },
    setBackgroundColor() {
      return this.setBackground && this.firstTag;
    },
    firstTag() {
      return this.tags[0];
    },
    imageUrl() {
      return require(`@/assets/${this.photo}`);
    },
    multiColumns() {
      return this.columns > 1;
    },
  },
};
</script>

<style scoped lang="scss">
.news-item {
  $news-item: &;
  background-color: var(--item-bg-color, var(--white));
  border-radius: 7px;
  overflow: hidden;
  &_colorized {
    text-align: center;
    & #{$news-item}__tags {
      justify-content: center;
    }
    & #{$news-item}__caption {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.5px;
      color: var(--white);
    }
    & #{$news-item}__description {
      opacity: 0.6;
      color: var(--white);
    }
  }
  &_two-column {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    & #{$news-item}__image-wrapper {
      align-self: center;
      padding-right: 27px;
    }
  }
  &__image-wrapper {
    position: relative;
  }
  &__image {
    max-width: 100%;
  }
  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -4px -7.5px -3px;
    padding-bottom: 9px;
    &_absolute {
      position: absolute;
      top: 24px;
      left: 20px;
      right: 20px;
    }
  }
  &__content {
    padding: 24px 20px 27px;
  }
  &__caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.2px;
    color: var(--charcoal-grey);
    padding-bottom: 7px;
  }
  &__description {
    font-family: 'PT Serif', serif;
    font-size: 14px;
    line-height: 1.29;
    color: var(--steel-grey);
  }
  &__link {
    border-radius: 20px;
    border: solid 1px #ededed;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    color: var(--white);
    padding: 10.5px 25px;
    display: inline-flex;
    text-decoration: none;
    margin-top: 16px;
  }
}
</style>
