<template>
  <div class="news-tags">
    <label v-for="tag in tags" :key="tag.id" class="news-tags__label">
      <input
        type="checkbox"
        class="news-tags__checkbox"
        :value="tag.id"
        v-model="selectedTags"
      />
      <TheTag :name="tag.caption" :color="tag.color" class="news-tags__tag" />
    </label>
  </div>
</template>

<script>
import TheTag from './TheTag';
export default {
  name: 'NewsTags',
  components: { TheTag },
  props: {
    tags: {
      type: Array,
      required: true,
    },
    value: {
      type: Array,
      required: true,
    },
  },
  computed: {
    selectedTags: {
      get() {
        return this.value;
      },
      set(tag) {
        this.$emit('input', tag);
      },
    },
  },
};
</script>

<style scoped lang="scss">
.news-tags {
  align-items: center;
  display: flex;
  margin: 0 -7.5px;
  padding: 10px 0 11px;
  flex-wrap: wrap;
  &__label {
    display: inline-flex;
    &:not(:disabled) {
      cursor: pointer;
    }
  }
  &__checkbox {
    position: absolute;
    visibility: hidden;
  }
  &__checkbox:not(:checked) + &__tag {
    opacity: 0.5;
  }
}
</style>
