<template>
  <div class="news-list">
    <NewsItem
      v-for="currentNews in news"
      :key="currentNews.id"
      v-bind="currentNews"
    />
  </div>
</template>

<script>
import NewsItem from './NewsItem';
export default {
  name: 'NewsList',
  components: { NewsItem },
  props: {
    news: {
      type: Array,
      required: true,
    },
    tags: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: minmax(100px, max-content);
  grid-gap: 20px;
}
</style>
