<template>
  <span class="tag" :style="cssVars">{{ name }}</span>
</template>

<script>
export default {
  name: 'TheTag',
  props: {
    name: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      required: true,
    },
  },
  computed: {
    cssVars() {
      return {
        '--tag-bg-color': this.color,
      };
    },
  },
};
</script>

<style scoped lang="scss">
.tag {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--tag-bg-color);
  border-radius: 3px;
  color: var(--white);
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 2.5px 7.5px;
  padding: 3px 5px;
  white-space: nowrap;
}
</style>
