<template>
  <div id="app">
    <NewsTags :tags="tags" v-model="selectedTags" />
    <NewsList :news="filteredNews" :tags="tags" />
  </div>
</template>

<script>
import NewsList from './components/NewsList.vue';
import NewsTags from './components/NewsTags';

export default {
  name: 'App',
  data() {
    return {
      tags: [
        { id: 'travel', caption: 'TRAVEL', color: 'var(--bluish-purple)' },
        { id: 'explorers', caption: 'EXPLORERS', color: 'var(--dull-orange)' },
        { id: 'nature', caption: 'NATURE', color: 'var(--greenish)' },
        {
          id: 'agriculture',
          caption: 'СЕЛЬСКОЕ ХОЗЯЙСТВО',
          color: 'var(--greenish)',
        },
        { id: 'feed', caption: 'КОРМА', color: 'var(--dull-orange-two)' },
        { id: 'science', caption: 'SCIENCE', color: 'var(--cerulean)' },
      ],
      selectedTags: ['travel', 'nature'],
      news: [
        {
          id: 1,
          caption: 'Robot’s Penguin Disguise Keeps Birds',
          description:
            'Figuring out how our brains work is key to understanding',
          tags: ['travel', 'agriculture', 'explorers'],
          photo: '1.jpg',
        },
        {
          id: 11,
          caption: '5 Things We Learned From X-Men: Days of Future Past',
          columns: 2,
          description:
            'Peter Dinklage’s porn ‘tache, Jennifer Lawrence’s brilliance and more. Some (tiny) spoilers ahead',
          tags: ['explorers'],
          photo: '1.jpg',
        },
        {
          id: 2,
          caption: '14 Things Men Should Never Wear After 30',
          description:
            'Light a bonfire in the garden, and step bravely into your best-dressed decade',
          tags: ['science'],
          setBackground: true,
          link: '//ya.ru',
          showButton: true,
        },
        {
          id: 3,
          caption: 'Комбикорма для уток и свиней оптом',
          description: 'Наши корма дают +20% к приросту массы в год',
          tags: ['agriculture', 'feed'],
        },
        {
          id: 4,
          caption: 'Stunning Changes Along Colorado River',
          description: 'Lake Powell offering kayakers new channels to explore',
          tags: ['explorers'],
          photo: '1.jpg',
        },
        {
          id: 5,
          caption: '14 Things Men Should Never Wear After 30',
          description:
            'Light a bonfire in the garden, and step bravely into your best-dressed decade',
          rows: 2,
          tags: ['travel'],
          setBackground: true,
          link: '//youtube.com',
          showButton: true,
        },
        {
          id: 6,
          caption: 'Offbeat Portraits Give Stars a New Turn',
          description: 'I whipped the Scotch tape from my pocket and said',
          tags: ['nature'],
          photo: '1.jpg',
        },
        {
          id: 7,
          caption: 'Must See Places of the New Year',
          description: 'Whether it’s India’s literary hub or mountain majesty ',
          tags: ['explorers'],
          photo: '1.jpg',
        },
        {
          id: 8,
          caption: 'Robot’s Penguin Disguise Keeps Birds ',
          description:
            'Figuring out how our brains work is key to understanding ',
          tags: ['science'],
          photo: '1.jpg',
        },
        {
          id: 9,
          caption: 'Stunning Video Reveals Invisible CO2',
          description: 'A NASA visualization shows the swirling gas ',
          tags: ['travel'],
          photo: '1.jpg',
        },
      ],
    };
  },
  computed: {
    filteredNews() {
      const filteredNews = this.news.filter(n =>
        n.tags.some(t => this.selectedTags.includes(t)),
      );
      return filteredNews.map(n => ({
        ...n,
        tags: n.tags.map(t => this.tags.find(tag => tag.id === t)), //this.tags.filter(t => n.tags.includes(t.id)),
      }));
    },
  },
  components: {
    NewsTags,
    NewsList,
  },
};
</script>

<style>
:root {
  --grey: #eeeeee;
  --white: #ffffff;
  --bluish-purple: #6b3de4;
  --dull-orange: #d9a34a;
  --dull-orange-two: #d8a252;
  --greenish: #41a674;
  --cerulean: #007ac2;
  --charcoal-grey: #3b3d40;
  --steel-grey: #838d8f;
}
</style>
<style lang="scss" scoped>
#app {
  background-color: var(--grey);
  min-height: 100vh;
  padding: 0 110px 40px;
}
</style>
